@model WebDoctors.Data.Specialization

@{
    ViewData["Title"] = "Delete Specialization";
}

<div class="row">
    <div class="col-md-12">
        <hr/>
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Delete Specialization</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong><i class="fas fa-book-medical mr-1"></i> @Html.DisplayNameFor(model => model.Name)</strong>
                <p class="text-muted">
                    @Html.DisplayFor(model => model.Name)
                </p>

                <hr>
                <strong><i class="fas fa-book mr-1"></i> @Html.DisplayNameFor(model => model.Description)</strong>
                <p class="text-muted">@Html.DisplayFor(model => model.Description)</p>

                <hr>
                <strong><i class="fas fa-star mr-1"></i> Show on Front Page?</strong>
                @if (Model.Featured)
                {
                    <p class="text-muted">Yes</p>
                }
                else
                {
                    <p class="text-muted">No</p>
                }
            </div>
            <!-- /.card-body -->
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger btn-block" />
            <a asp-action="Index"  class="btn btn-outline-secondary btn-block">Back to List</a>
        </form>
    </div>
</div>
