@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<hr/>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form id="change-password-form" method="post">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Change Password</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <strong><i class="fas fa-lock-open mr-1"></i> Current Password</strong>
                    <p class="text-muted">
                        <div class="form-group">
                            <input asp-for="Input.OldPassword" class="form-control">
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                    </p>

                    <hr>
                    <strong><i class="fas fa-lock mr-1"></i> New Password</strong>
                    <p class="text-muted">
                        <div class="form-group">
                            <input asp-for="Input.NewPassword" class="form-control">
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                    </p>

                    <hr>
                    <strong><i class="fas fa-lock mr-1"></i> Confirm New Password</strong>
                    <p class="text-muted">
                        <div class="form-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </p>
                </div>
                <!-- /.card-body -->
            </div>
            <button type="submit" class="btn btn-success btn-block">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}