@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<hr />
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Personal Data</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <p class="text-muted">
            Your account contains personal data that you have given us. This page allows you to download or delete that data.
        </p>
        <p class="text-muted">
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
    </div>
    <!-- /.card-body -->
</div>
<form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
    <button class="btn btn-primary btn-block" type="submit">Download</button>
</form>
<a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary btn-block">Delete</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
