<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Layout at <a href="https://adminlte.io" target="_blank">AdminLTE.io</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year WebDoctors.</strong> All rights reserved.
</footer>
