@using WebDoctors.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Profile</a>
        <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
            <li><a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">Info</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="dropdown-item">Password</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Manage/PersonalData" class="dropdown-item">Account</a></li>
            @if (User.IsInRole("Doctor"))
            {
                <li class="dropdown-divider"></li>
                <li><a asp-area="Identity" asp-page="/Account/Manage/DoctorProfile" class="dropdown-item">Doctor Profile</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Manage/DoctorSchedule" class="dropdown-item">Doctor Schedule</a></li>
            }
        </ul>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

