.jumbotron-main {
    background-image: url("../uploads/home.jpg");
    background-size: cover;
    padding: 15rem 2rem;
    margin-bottom: 0;
}

.jumbotron-main h1 {
    color: #003a70;
    font-size: 2.5rem;
    font-weight: bold;
}

.jumbotron-main .lead {
    width: 40%;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
}

.jumbotron-secondary {
    background-image: url("../uploads/home2.jpg");
    background-size: cover;
    padding: 10rem 2rem;
}

.jumbotron-secondary h1 {
    color: #00a9e0;
    font-size: 2.5rem;
    font-weight: 400;
}

.jumbotron-secondary .lead {
    width: 40%;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
}

.jumbotron-assistance {
    text-align: center;
    background: #00a9e0;
    color: white;
}

.jumbotron-assistance h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.jumbotron-assistance .lead {
    font-size: 1.2rem;
    font-weight: 400;
}

.card-comments .learnmore {
    color: #00a9e0;
}

.home-card {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.home-cards {
    background: #00a9e0;
}

.home-cards .container {
    position: relative;
    top: -15px
}

.home-contact {
    margin-bottom: 0;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}